@import './variables.scss';

.board {
  background-color: rgb(77, 75, 75);
  margin: 5vh 10vw;
  display: grid;
  grid-template-columns: repeat(10, $tile-size);
  grid-template-rows: repeat(20, $tile-size);

  .red {
    background-color: red;
  }

  .skyblue {
    background-color: skyblue;
  }

  .green {
    background-color: green;
  }

  .yellow {
    background-color: yellow;
  }

  .purple {
    background-color: purple;
  }

  .orange {
    background-color: orange;
  }

  .blue {
    background-color: blue;
  }
}