@import './variables.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
// sakura tree https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/d34a59be-b3d6-4b35-a43b-66b0685de866/da69811-0383c935-4a67-4728-809a-08879cd25cf9.png/v1/fill/w_1000,h_500,q_80,strp/_maplestory_background__the_scent_of_blossom_by_bboki_da69811-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NTAwIiwicGF0aCI6IlwvZlwvZDM0YTU5YmUtYjNkNi00YjM1LWE0M2ItNjZiMDY4NWRlODY2XC9kYTY5ODExLTAzODNjOTM1LTRhNjctNDcyOC04MDlhLTA4ODc5Y2QyNWNmOS5wbmciLCJ3aWR0aCI6Ijw9MTAwMCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.0ZDVRaqSMuXdnzs9b8kqijwMvKmmTeMV0YZjCIEdhew
body {
  background-image: url($background);
  background-size: cover;
}

.button {
  font-family: Rubik;
  width: 10rem;
  height: 5rem;
  margin-top: 15vh;
  font-size: 50px;
  border-radius: 10px;
  background-image: url($button-background);
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;

  &:hover {
    filter: brightness(1.1);
  }
}

button {
  cursor: pointer;
}

.app {
  display: flex;
  justify-content: center;
}

.tile {
  border: 1px solid black;
  height: $tile-size;
  width: $tile-size;
}

//colors

.red {
  background-color: red;
}

.skyblue {
  background-color: skyblue;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.purple {
  background-color: purple;
}

.orange {
  background-color: orange;
}

.blue {
  background-color: blue;
}

.outer-square {
  border: 1px solid rgba(253, 252, 252, 0.5);
  outline: 1px solid rgba(94, 94, 94, 0.596);
  background-image: linear-gradient(rgba(104, 102, 102, 0.486) 0%, rgba(26, 26, 26, 0.918) 20%);
  padding: 0 10px 10px 10px;
}

.inner-square {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(243, 243, 243);
  border-radius: 5px;
  height: 90%;
  width: 100%;
  padding: 10px;
}