@import './variables.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
// sakura tree https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/d34a59be-b3d6-4b35-a43b-66b0685de866/da69811-0383c935-4a67-4728-809a-08879cd25cf9.png/v1/fill/w_1000,h_500,q_80,strp/_maplestory_background__the_scent_of_blossom_by_bboki_da69811-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NTAwIiwicGF0aCI6IlwvZlwvZDM0YTU5YmUtYjNkNi00YjM1LWE0M2ItNjZiMDY4NWRlODY2XC9kYTY5ODExLTAzODNjOTM1LTRhNjctNDcyOC04MDlhLTA4ODc5Y2QyNWNmOS5wbmciLCJ3aWR0aCI6Ijw9MTAwMCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.0ZDVRaqSMuXdnzs9b8kqijwMvKmmTeMV0YZjCIEdhew
body {
  background-image: url($background);
  background-size: cover;
}

.button {
  font-family: Rubik;
  width: 10rem;
  height: 5rem;
  margin-top: 15vh;
  font-size: 50px;
  border-radius: 10px;
  background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/b61037ca-08b4-4304-9787-fe07003195cc/d35p31p-9cbcc4e9-f53e-45a7-ab9d-d05205bccb50.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2I2MTAzN2NhLTA4YjQtNDMwNC05Nzg3LWZlMDcwMDMxOTVjY1wvZDM1cDMxcC05Y2JjYzRlOS1mNTNlLTQ1YTctYWI5ZC1kMDUyMDViY2NiNTAucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.A-lK_m8EAkhuIDrwxOeRxgiAZQz9RpSxQqjp5GzyYlA');
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
}

.app {
  display: flex;
  justify-content: center;
}

.tile {
  border: 1px solid black;
  height: $tile-size;
  width: $tile-size;
}

//colors

.red {
  background-color: red;
}

.skyblue {
  background-color: skyblue;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.purple {
  background-color: purple;
}

.orange {
  background-color: orange;
}

.blue {
  background-color: blue;
}