@import './variables.scss';

.user-interface {
  font-family: 'Ibarra Real Nova';
  display: grid;
  justify-content: center;
  padding-top: 35px;
  margin-top: 60px;
  width: 20%;
  height: 80vh;

  color: rgb(61, 61, 61);
  
  

  .content-border {
    display: flex;
    justify-content: flex-start;
    border: 2px solid lightgrey;
    width: 100%;
    border-radius: 12px;
    
    .green-header {
      background-image: linear-gradient(#cdf325, #8fbc28);
      border-radius: 9px 0 0 9px;
      padding: 5px;
      font-size: 1rem;
      justify-content: center;
      color: white;
      display: flex;
      align-items: center;
      text-shadow: 
        1px 1px 0 rgb(51, 51, 51, 0.5),
        -1px -1px 0 rgb(51, 51, 51, 0.5),
        -1px 1px 0 rgb(51, 51, 51, 0.5),
        1px -1px 0 rgb(51, 51, 51, 0.5);
      width: 25%;
    }

    .value {
      margin-left: 10px;
    }
  }


  h4 {
    color: rgb(255, 243, 80);
    margin: 3px;
  }

  .next-piece {
    display: flex;
    flex-direction: column;
    height:20vh;
    width:20vw;
    justify-content: flex-start;
    align-items: center;
    border-radius: 15px;

    .inner-next-piece {
      display: grid;
      grid-template-columns: repeat(4, $tile-size);
      grid-template-rows: repeat(2, $tile-size);
      justify-content: center;
    }

    .gray-tile {
      border-color: lightgray;
    }
  }
  
  .current-score {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    
    .inner-current-score {
      width: 100%;
    }
  }

  .high-score {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;

    .inner-high-score {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-evenly;
      height: 100%;
      width: 100%;
    }
  }
}